@import "./styles/fonts.css";
@import "tailwindcss";
@config "../tailwind.config.js";

/* Your custom CSS below */
body {
  font-family: "Nunito";
}

@media screen and (min-width: 1601px) {
  .container {
    min-width: 1600px;
  }
}

.swiper-pagination-bullet {
  @apply !h-1 !w-7 !bg-white/50 !rounded;
}
.swiper-pagination-bullet-active {
  @apply !bg-white;
}
.swiper-pagination {
  @apply !bottom-14;
}

.checkbox_icon:checked {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M11.0694%200.760654C11.152%200.843193%2011.2176%200.94121%2011.2623%201.0491C11.307%201.15699%2011.3301%201.27264%2011.3301%201.38943C11.3301%201.50623%2011.307%201.62187%2011.2623%201.72977C11.2176%201.83766%2011.152%201.93567%2011.0694%202.01821L4.84827%208.23935C4.76573%208.32198%204.66771%208.38753%204.55982%208.43226C4.45193%208.47698%204.33628%208.5%204.21949%208.5C4.1027%208.5%203.98705%208.47698%203.87916%208.43226C3.77127%208.38753%203.67325%208.32198%203.59071%208.23935L0.924511%205.57315C0.757748%205.40638%200.664062%205.1802%200.664062%204.94437C0.664063%204.70853%200.757748%204.48235%200.924511%204.31559C1.09127%204.14883%201.31745%204.05514%201.55329%204.05514C1.78913%204.05514%202.01531%204.14883%202.18207%204.31559L4.21949%206.35412L9.81185%200.760654C9.89439%200.678022%209.9924%200.612471%2010.1003%200.567746C10.2082%200.523021%2010.3238%200.5%2010.4406%200.5C10.5574%200.5%2010.6731%200.523021%2010.781%200.567746C10.8888%200.612471%2010.9869%200.678022%2011.0694%200.760654Z%22%20fill%3D%22white%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
